<title>TypeScript Sample: D3 Visualization</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="stylesheets/css/style.css">
<script src="http://d3js.org/d3.v2.js"></script>
<script src="javascripts/min/data.js"></script>