<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="slds">
    <header>
      <% include ../partials/siteHeader %>
    </header>
    <main>
      <% include ../partials/pageHeader %>
      <div class="slds-p-around--large">
        <h1>Status</h1>
        <div id="passchart"></div>

        <h1>Compiler Performance</h1>
        <div id="performanceChart"></div>
      </div>
    </main>
    <!-- JavScript -->
    <script type="text/javascript" src="javascripts/min/build/data.bundle.js"></script>
  </body>
</html>